
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: #f9f9f9;
  color: #333;
  line-height: 1.0;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: white;
}

.logo {
  height: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-links li {
  position:relative;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.nav-links .dropdown,
.nav-links .dropdown-menu 
{

  display: none;
  position: absolute;
  background: white;
  list-style: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;

}

.nav-links li:hover .dropdown,
.nav-links li:hover .dropdown-menu
 {
  display:block;
  block-size:  200px;


}

.auth-buttons a {
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 20px;
  margin-left: 10px;
}

.auth-buttons .register {
  background: black;
  color: white;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 50px;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 10 px;
  margin: 20px 0;
}

.hero-content .btn {
  display: inline-block;
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
}

.partners {
  padding: 20px;
  background: white;
}

.brands {
  display: flex;
  justify-content: center;
  gap: 30px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #3333330b;
  color: rgb(22, 2, 2);
}
